<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CharacterMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/cake.png" />
  {{!--
  <link rel="stylesheet" type="text/css" href="/assets/style.css" /> --}}
  <style>
    html,
    body {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      margin: 0 auto;
    }
  </style>
</head>

<body>
  <img src="/assets/img/404giphy.gif" alt="404 page not found">
</body>

</html>