<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>CharacterMaker</title>
  <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
  <link rel="shortcut icon" href="/assets/img/cake.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/cake.png" alt="cake logo" /></a>
    <div class="navlink"><a href="/logout">Log out</a></div>

  </nav>

  <section id="makeCharacter">

  </section>

  <div class="flex-container">

    <!-- left panel -->
    <section id="chatWindow">
      <h2>Chat</h2>

      <div id="message-container">
        <div class="messageBox">
          <div class="name">System</div>
          <div class="avatar"></div>
          <div class="message">Hiii</div>
        </div>
      </div>

      <div id="features">
        <p id="current-label">CURRENT ROLE: </p>
        <p id="current-role">System</p>
      </div>

      <div id="input-field">
        <input id="textbox" type="textarea" placeholder="Type message...">
        <button id="sendButton">Send</button>
      </div>

    </section>
    <!-- right panel -->

    <section id="character-list">
      <h2>Characters</h2>
      <div id="characters"></div>
    </section>

  </div>
  <div class="footer">
    {{!-- <div class="ads">
      <img src="/assets/img/placeholderAds.png" alt="placeholder ads">
    </div> --}}
  </div>

  <div id="characterMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech box" />
    <h3><span id="errorMessage"></span></h3>
    {{!-- <img id="character" src="assets/img/character.png" alt="character" /> --}}
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>