html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: rgb(238, 229, 226);
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float: left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 50px;
    background-color: rgb(244, 222, 195);
    box-shadow: 2px 2px 2px rgb(212, 210, 207);
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.3em;
    float: left;
}

.navlink a,
.navlink a:link,
.navlink a:visited,
.navlink a:hover,
.navlink a:active {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(223, 149, 124);
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: rgb(234, 175, 156);
}

.characterForm {
    border: 2px solid palevioletred;
    height: 35px;
    width: fit-content;
    margin-top: 0px;
    padding-top: 10px;
    background-color: rgb(249, 208, 202);
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

h2 {
    width: 100%;
    padding: 2px;
    background-color: burlywood;
    margin: 0;
}

.characterForm input {
    margin-left: 5px;
    border-radius: 2px;
}

.characterForm label {
    margin-left: 10px;
    font-size: 1.2em;
}

.makeCharacterSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: fit-content;
    padding: 3px;
    margin: 5px;
    border-radius: 4;
    background-color: rgb(239, 232, 204);
    text-decoration: none;
}

.makeCharacterSubmit:link,
.makeCharacterSubmit:visited,
.makeCharacterSubmit:hover,
.makeCharacterSubmit:active {
    color: white;
}

.makeCharacterSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #338acc;
}


/* 

#makeCharacter {
    background-color: aliceblue;
    width: 100%;
}

*/

.mainForm {
    height: fit-content;
    /* background-color: burlywood; */
    width: 350px;
    margin: 0 auto;
    padding-top: 300px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: fit-content;
    background-color: rgb(223, 149, 124);
    border-radius: 5px;
    border-color: rgb(236, 145, 103);
    padding: 3px 10px;
    color: white;
    text-decoration: none;
}

.formSubmit:link,
.formSubmit:visited,
.formSubmit:hover,
.formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: rgb(234, 175, 156);
}

#user,
#pass,
#pass2 {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus,
#pass:focus,
#pass2:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px rgb(238, 229, 226);
}

.hidden {
    display: none;
}

#characterMessage {
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#characterMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 120px;
    width: 250px;
    z-index: 300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#character {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg);
    transform: rotate(330deg);
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: rgb(238, 229, 226);
    /* margin-bottom: 100px; */
}

#chatWindow {
    width: 60%;
    min-width: 400px;
    height: 95%;
    min-height: 500px;
    border: 2px solid rgb(173, 133, 121);
    border-radius: 4px;
    margin-top: 100px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#character-list {
    display: flex;
    flex-direction: column;
    height: 95%;
    min-height: 500px;
    width: 32%;
    min-width: 400px;
    /* background-color: palevioletred; */
    background-color: antiquewhite;
    border: 2px solid rgb(173, 133, 121);
    border-radius: 4px;
    margin-top: 100px;
    overflow: hidden;
}

.character {
    /* width: 95%; */
    /* margin: 0 auto;
    border: 2px solid #55acee;
    border-radius: 4px;
    background-color: #55acee;
    height: 65px; */
    display: grid;
    height: fit-content;
    grid-template-columns: 60px auto 40px;
    column-gap: 2px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "avatar name delete" "avatar age age" "avatar char char";
    padding: 5px;
    margin: 2px;
    border: 2px solid palevioletred;
    border-radius: 4px;
    background-color: rgb(249, 208, 202);
    border-radius: 10px;
}

.character:hover {
    /* transition: border-color 0.2s ease-out; */
    border-color: #bb925d;
    transition: background-color 0.3s ease-out;
    background-color: rgb(247 231 179);
}

#characters {
    height: auto;
    overflow: auto;
}

img.characterFace {
    grid-area: avatar;
    /* margin-left: 10px;
    margin-right: 10px; */
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

h3.emptyCharacter {
    width: 400px;
    font-size: 1.1em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.characterName {
    grid-area: name;
    font-weight: bold;
    padding: 0;
    margin: 2px;
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 1.5em;
}

h3.characterAge {
    grid-area: age;
    text-align: left;
    /* width: 100px; */
    padding: 0;
    margin: 2px;
    margin-left: 10px;
    padding: 2px;
    font-size: 1.1em;
}

h3.characterChar {
    grid-area: char;
    text-align: left;
    padding: 0;
    margin: 2px;
    margin-left: 10px;
    padding: 2px;
    font-size: 1.1em;
}

#delete-btn {
    grid-area: delete;
    width: 30px;
    height: 30px;
    margin-left: 10px;
    border-radius: 4;
    background-color: rgb(239, 232, 204);
}

#delete-btn:hover {
    background-color: rgb(245, 167, 157);
}

.character:first-child {
    margin-top: 2px;
}

.character:last-child {
    margin-bottom: 10px;
}

.footer {
    height: 200px;
    width: 100%;
    background-color: rgb(173, 133, 121);
    margin-top: 100px;
}

#message-container {
    height: 70%;
    flex: 1;
    overflow: auto;
    overflow-wrap: break-word;
    display: flex;
    flex-direction: column;
    line-height: 25px;
    font-family: 'Franklin Gothic Medium', Arial, sans-serif;
    list-style-type: none;
    position: relative;
}

#message-container b {
    font-size: 20px;
}

#message-container p {
    margin: 20px;
    padding-bottom: 15px;
    border-radius: 10px;
    padding: 10px;
    border: 2px dotted rgb(155, 154, 154);
    background-color: rgba(255, 250, 250, 0.6);
    /* background-color: rgba(248, 247, 231, 0.5); */
}

#features {
    width: 99%;
    margin: 10px auto 0 auto;
    padding: 2px;
    padding-bottom: 0;
}

#current-label {
    display: inline;
    color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    font-size: 0.7rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 25px;
}

#current-role {
    display: inline;
    color: rgba(0, 0, 0, 0.8);
    width: fit-content;
    font-size: 0.8rem;
    font-weight: 700;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 25px;
    margin-left: 0;
}

#input-field {
    height: 49px;
    display: flex;
    margin: 0 10px 10px 10px;
}

input:focus,
textarea:focus,
button:focus {
    outline: none;
}

#textbox {
    height: 100%;
    width: 90%;
    color: rgb(54, 32, 42);
    color: rgb(49, 44, 44);
    font-size: 0.9rem;
    text-indent: 20px;
    margin-right: 3px;
    background-color: ivory;
    border: 3px ridge rgba(128, 128, 128, 0.6);
    border-radius: 30px;
}


/* container of the whole message with avatar and name */

.messageBox {
    display: grid;
    grid-template-columns: 45px auto;
    column-gap: 10px;
    grid-template-rows: auto auto;
    grid-template-areas: "avatar name""avatar message";
    margin: 0px 6px;
    padding: 7px 5px;
    border-radius: 10px;
}

.messageBox:hover {
    /* background-color: rgba(180, 177, 177, 0.7); */
    background-color: rgb(223, 198, 178);
}

.name {
    grid-area: name;
    width: fit-content;
    height: fit-content;
    padding: 2px;
    padding-top: 0;
    margin-bottom: 3px;
    /* background-color: khaki; */
    font-size: 0.85rem;
    font-weight: 700;
}

.avatar {
    grid-area: avatar;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    border: 3.5px solid rgb(173, 133, 121);
    background-color: rgb(251, 242, 174);
    margin-top: 3.7px;
}


/* message that got sent out */

.message {
    grid-area: message;
    font-size: 0.9rem;
    width: fit-content;
    min-width: 25px;
    max-width: 100%;
    padding: 6px 15px;
    margin-right: 20px;
    list-style-type: none;
    color: rgb(49, 44, 44);
    background-color: ivory;
    border-radius: 20px;
}

#sendButton {
    width: 10%;
    color: rgb(0, 0, 0);
    background-color: rgb(251, 211, 197);
    border-radius: 10px;
    font-size: 0.95rem;
}

#sendButton:hover {
    cursor: pointer;
    background-color: rgb(249, 215, 202);
}

#sendButton:active {
    position: relative;
    top: 1px;
    background-color: rgb(245, 191, 172);
}


/* styling scrollbar */


/* width */

::-webkit-scrollbar {
    width: 15px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: rgb(196, 166, 141);
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 133, 121);
}